/* WelcomePage.css */
.welcome-container {
    text-align: center;
    margin-top: 100px; 
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5U4Yi0valVajONvdHT2T4hrSN9OyrxhGKGA&s'); /* Add the path to your image */
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repetition */
    height: 100vh; /* Full height of the viewport */
    width: 100vw; /* Full width of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-title {
    font-size: 2.5rem;
    color: #4a4e69;
}

.button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4a4e69;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #22223b;
}
